td img {display: block;}body,td,th {
	font-family: Arial, Times New Roman, Times, serif;
	font-size: 12px;
}
body {
	background-image: url(../images/page_bg.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.bottom {
	color: #FFFFFF;
	font-size: 12px;
}

.style1 {
	font-size: 14px;
	font-weight: bold;
	color: #112059;
}

input, textarea, select {
	font-family: Arial, Times New Roman, Times, serif;
	font-size: 12px;
}

.btn_send {
	cursor: pointer;
	border: 0px;
	background-color: transparent;
	background-image: url(../images/btn_send-message_f1.jpg);
	width: 295px;
	height: 27px;
	display: block;
}

.btn_send:hover {
	cursor: pointer;
	border: 0px;
	background-color: transparent;
	background-image: url(../images/btn_send-message_f2.jpg);
	width: 295px;
	height: 27px;
	display: block;
}

.home_title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #112059;
}
.home_title a {
	color: #112059;
	text-decoration: none;
}
.home_title a:hover {
	color: #112059;
	text-decoration: none;
}

.page_title {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #112059;
	padding-top: 10px;
	padding-left: 20px;
}

.page_content {
	padding-top: 10px;
}

.error {
	border: 1px solid #cc0000;
}